<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://shipwrecker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/afe22f13-ca24-4356-a6f5-50b21f52f0bb/resourcegroups/shipwreckerstorageResourceGroup/providers/Microsoft.Web/sites/ShipWrecker</ResourceId>
    <UserName>$ShipWrecker</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://shipwrecker.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>